.chat {
  min-height: 100vh;
  background: url(/chat.png);
  display: grid;
  place-content: center;
}

.chat-container {
  width: 90%;
  height: 75vh;
  max-width: 1000px;
  background: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(100%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
